body {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 100vh;
}

.card {
    background-color: #36393F;
    opacity: 0.9;
    color           : #fff;
    border-radius   : 2rem;
    padding         : 2rem;
    margin          : 1rem;
    animation: float 1.5s alternate-reverse infinite;

}

.search {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

#search-button {
    color           : #fff;
    background-color: #8080801F;
    margin          : 1rem;
    border-radius   : 25px;
    outline         : none;
    border          : none;
    padding         : 10px 1rem;
    cursor          : pointer;
}
#search-button:hover {
    background-color: #80808059
}
#search-input {
    color           : #fff;
    background-color: #8080801F;
    margin          : 1rem;
    border-radius   : 25px;
    outline         : none;
    border          : none;
    padding         : 10px 1rem;
}

@keyframes float {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}